@media screen and (max-width: 500px) {
/*500 px is the min on my screen */
    body {
        font-size: 100%;
        background-color: #faf7f3;
    }
    #container {
        width: 70%;
    }
    #top-row h1 {
        font-size: 50;
        color: #AF12BB;
    }
    #top-row h3 {
        font-size: 30;
    }
    #top-row nav {
        display: "hide";
    }
    #content {
        float: left;
        width: 100%;
        margin: 0;
        padding: 1em;
        border-right: none;
    }
    #content h3 {
        font-size: 1.25em;
        margin: 0;
    }
    #content img {
        display: none;
    }
    #bio {
        margin-left: 0em;
        font-size: .875em;
    }
    #bio a {
        border-bottom: none;
    }
    #sidebar {
        float: left;
        padding: 0em;
        font-size: .875em;
        border: none;
    }
    #sidebar h3 {
        font-size: 1.25em;
        margin: 0;
        border: none;
    }
}